.custom-scrollbar {
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 8px; /* Optional: round the edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 8px; /* Round the scrollbar thumb */
  border: 1px solid transparent; /* Space between scrollbar and edge */
  min-height: 10px; /* Set a minimum height for the thumb */
  max-height: 30px; /* Set a maximum height for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker scrollbar on hover */
}